# Python virtual environments
.venv/
venv/
**/venv/
**/__pycache__/
*.pyc

# Node / JS
node_modules/
.next/
dist/
build/
.cache/

# Databases
*.db
*.sqlite3

# Logs
logs/
**/logs/
*.log

# Environment variables
.env
.env.*
!.env.example

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/